.crop-content{
    min-height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.captured-image{
    max-width: 100%;

}
.submit-btn{
    padding:10px 20px;
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: #0275d8;
    color:white;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left:0.5rem;
}
.btns{
float: right;
}

.right-btn,.left-btn{
    padding:10px 20px;
    margin-left: 0.5rem;
    border-radius: 5px;
    outline: none;
    border:none;
    cursor: pointer;
    background-color:#292b2c;
    color: white;
}

.image-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-dialog{
    position: absolute;
    top:0;
float:right;
}
